*

!.gitignore
!README.md

!Packages/
!Packages/**

!Assets/

!Assets/Scripts/
!Assets/Scripts/**

!Assets/Art/
!Assets/Art/**

!Assets/Text/
!Assets/Text/**

!Assets/Animation/
!Assets/Animation/**

!PythonFiles/
!PythonFiles/**

__pycache__/

*.meta