*

!.gitignore
!ignore.conf
!*.md

!Packages/
!Packages/**

!Assets/

!Assets/Scripts/
!Assets/Scripts/**

!Assets/Art/
!Assets/Art/**

!Assets/Text/
!Assets/Text/**

!Assets/Animation/
!Assets/Animation/**

!Assets/StreamingAssets/
!Assets/StreamingAssets/Models/

!PythonFiles/
!PythonFiles/**

__pycache__/

*.meta